.search-input{
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: #27214266;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;

}
.btn-submit{
  background: #885df1;
    border: none;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    padding: 15px 0;
}